 body {
      scroll-behavior: smooth;
    }
    .hero {
      height: 100vh;
      display: flex;
      align-items: center;
      background: linear-gradient(120deg, #112c54, #9d65f7);
      color: white;
    }
    .hero h1 span {
      color: #ffc107;
    }

.project-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}


nav a.active {
  color: #00bcd4;
  border-bottom: 2px solid #00bcd4;
}

