 body {
      scroll-behavior: smooth;
    }
    .hero {
      height: 100vh;
      display: flex;
      align-items: center;
      background: linear-gradient(120deg, #112c54, #9d65f7);
      color: white;
    }
    .hero h1 span {
      color: #ffc107;
    }